corpo {
    cor: branco;
    fundo: preto;
    margem: 0px;
    família de fontes: "Chakra Petch", sem serifa;
    margem inferior: 100px;
}

cabeçalho {
    borda inferior: sólido 2px rgb(42, 122, 228);
    preenchimento: 20px;
    tamanho da fonte: 32px;
    cor: rgb(42, 122, 228);
}

.chamada {
    fundo: rgb(184, 156, 213);
    preenchimento inferior: 80px;
    preenchimento-superior: 80px;
    exibição: flexível;
    justificar-conteúdo: centro;
}

.chamada-texto {
    margem direita: 5%;
}

h1 {
    tamanho da fonte: 40px;
}

p {
    tamanho da fonte: 20px;
}

.categoria-vídeos {
    exibição: flexível;
    estouro-x: automático;
    lacuna: 10px;
}

.categoria {
    preenchimento-esquerdo: 20px;
    preenchimento-direito: 20px;
    margem superior: 50px;
}

.categoria-videos img {
    opacidade: 0,5;
    altura: 200px;
}

.categoria-videos img:hover {
    opacidade: 1,0;
    borda: 3px verde sólido;
}

.categoria h2 {
    cor: rgb(42, 122, 228);
